

.gallery {
  margin-bottom: 0;

  .card {
    box-shadow: none;
    border: 0;

    img {
      border-radius: inherit;
      }
    }
  }

@media all and (max-width: $picnic-breakpoint) {
  
  .gallery .card {
    margin-top: 1.2em;
    }

  .gallery .card:last-child {
    margin-bottom: 0;
    }
  }

