// Hero code
$black: #333;

%nav {
  &.transparent {
    box-shadow: none;
    background: none;

    .brand,
    .pseudo.button {
      color: inherit;
    }

    .pseudo.button:hover {
      background: rgba(255, 255, 255, .2);
    }
  }
}


// Hero from the main page
.hero {
  position: relative;
  width: 100%;

  // http://stackoverflow.com/a/28151062/938236
  height: 100%;
  height: 100vh;
  transition: height 999999s;
  text-align: center;
  min-height: 300px;
  color: $black;
  padding: 1px 0;
  background: #B9DBFF url('/web/img/picnic.min.svg') no-repeat center center fixed;
  background-size: cover;


  // Vertical center for the content
  .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  h1 {
    font-size: 3em;
    line-height: 1;
    padding: 0;
  }

  p {
    margin: 0;
  }

  .slogan {
    font-size: 1.3em;
  }

  .bower {
    width: 300px;
    color: $black;
    margin-bottom: 0;
    text-align: center;
    border-radius: 0;
    margin: 1.3em auto .3em;
  }

  .links a {
    color: $black;
    box-shadow: 0 2px rgba(0, 0, 0, .2);
    transition: all .3s;
  }

  .links a:hover {
    box-shadow: 0 2px $black;
  }

  .links a:active {
    background: none;
    border-radius: 0;
  }

  .keepgoing {
    display: block;
    color: #fff;
    font-size: 2em;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    transition: all 0.5s ease 0s;
    opacity: .7;
    animation: bounce 1s ease infinite;
  }

  .keepgoing:active,
  .keepgoing:focus {
    box-shadow: none;
    background: none;
  }


  @keyframes bounce {
    from { bottom: 20px; }
    70% { bottom: 10px; }
    to { bottom: 20px; }
  }
}

// Hack to hide the hero without js (reusing nav's js)
.transparent ~ .hero .keepgoing {
  opacity: 1;
}




@media all and (max-width: 960px) {

  // Since in mobiles the fixed one is sluggish
  .hero {
    background-attachment: scroll;
  }
}
