// Style for the website

// Variables for this sass implementation
$picnic-dropimage-ratio: 4 / 3 !default;



// Get the icons from fontello
// You need to import this first
@import 'font/fontello';

// Get the library picnic css
@import '../../src/picnic';



// Our own plugins, extending some of picnic's
@import 'hero';
@import 'visual';
@import 'gallery';


// Make a title and its text closer together
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: .6em 0 0;
  line-height: 1;
  }

// And the first title goes up
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
  padding-top: 0;
  }

li {
  list-style-type: circle;
  }



// Structure
html,
body,
main {
  display: block;
  color: #333;
  background: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 5;
}

// I like allowing scroll past end
main .visual:last-child {
  margin-bottom: 100px;
}

.intro {
  padding: 10px;
  max-width: 960px;
  width: 100%;
  margin: 100px auto 500px;
  }

nav .brand:hover,
nav .brand:active {
  background: none;
  box-shadow: none;
  }



// Display the grid with colors
.flex.demo > * > * {
  display: block;
  padding: .3em 0;
  background: $green;
  text-align: center;
}

.flex.demo > *:nth-child(2n) > * {
  background: $aqua;
}

.test > h2 {
  padding-top: 80px;
  margin-top: -60px;
}

.loading,
.loading * {
  transition: all 0s;
}

section.row {
  width: 90%;
  max-width: 960px;
  margin: 80px auto;
}

section.row aside {
  width: 200px;
}


@media all and (max-width: 960px) {

  .newplugin {
    padding: 0;

    > .row {
      width: 100%;
    }
  }

  .display {
    margin-top: 20px;
    margin-bottom: 0;

    > .row {
      width: 100%;
      margin-bottom: 0;

      > * {
        margin-bottom: 0;
        margin-top: 1.2em;
      }
    }
  }

  .newplugin .content {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 2px solid #eee;

    > footer {
      padding-bottom: 20px;
    }

    .extra {
      margin-right: 0;
    }
  }
}


.documentation {

  article > h2 {
    margin: -2em 0 .6em;
    padding: 3em 0 0;
    line-height: 1;
  }

  article > h3 {
    margin-bottom: .6em;
  }

  aside h2 {
    margin-top: 0;
    padding: 1.25em 0;
    line-height: 1;
  }

  aside a.pseudo {
    color: #0074D9;
  }

  > section {
    background: #fff;
    text-align: left;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    padding: 80px 0 0;
  }

  article > h1 {
    margin: 0;
    padding: 0.6em 0;
    font-size: 2em;
    line-height: 1.5;
  }

  aside a.button {
    display: block;
  }

  pre[class*="language-"] {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .index pre {
    margin: 0;
    font-size: .9em;
  }
}


pre code {
  background: none;
}

$browser-color: #ccc;
$browser-text: #333;

.browser {
  margin-top: 20px;
  border: 2px solid $browser-color;
  border-top: 26px solid $browser-color;
  border-radius: 5px;
  width: 100%;
  height: 0;
  position: relative;
  display: block;
  padding-bottom: 56%;
}

.browser::before {
  color: $browser-text;
  content: attr(data-title);
  display: block;
  position: absolute;
  top: -23px;
  left: 5px;
  font-size: 14px;
}

.browser::after {
  content: '';
  display: block;
  position: absolute;
  top: -19px;
  right: 5px;
  background: #f55;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.browser iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 250%;
  height: 250%;
  transform: scale(0.4);
  transform-origin: 0 0;
  border-radius: 0 0 5px 5px;
}















/* Prism */
/* http://prismjs.com/download.html?themes=prism&languages=markup+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}




pre[class*="language-"] {
  margin-top: 0;
  padding: .5em .8em;
  font-size: 1.2em;
  line-height: 1.3;
}
