// Color variables
// - Cool
// - Warm
// - Gray Scale
// 
// clrs, from https://github.com/mrmrs/colors

// Cool
$aqua: #7fdbff !default;
$navy: #001f3f !default;
$teal: #39cccc !default;
$olive: #3d9970 !default;
$lime: #01ff70 !default;

// Warm
$yellow: #ffdc00 !default;
$fuchsia: #f012be !default;
$purple: #b10dc9 !default;
$maroon: #85144b !default;

//crayola recolors beyond this point
$blue: #4A66C5 !default;
$green: #8abc2f !default;
$orange: #ff7800 !default;
$red: #ee204d !default;

// Gray Scale
$white: #eeebd9 !default;
$silver: #c9c0bb !default;
$gray: #8b8680 !default;
$black: #353839 !default;
