/**
 * Raw File
 * This file only imports variables. It doesn't import anything that does real work
 * Allows to dynamically load plugins of Picnic CSS
 */
/**
 * Colors
 * The colors as defined in clrs.com
 */
/**
 * COLOR VARIABLES
 * - Cool
 * - Warm
 * - Gray Scale
 * 
 * clrs, from https://github.com/mrmrs/colors
 */
/**
 * Variables
 * The configuration of the current build of Picnic
 */
/* Style by default the <button>, <input type="submit">, etc? */
/* Not fully implemented */
/* Make buttons and other things slightly 3d */
/* Media query breakpoint */
/* Default space between objects */
/* Default inline element styles */
/* Colors */
/* Border */
/* Define the transitions */
/**
 * Default footer height: 200px
 * Change it, but you'll need some js to make it responsive
 */
footer {
  color: #fff;
  background: #111;
  margin: -1px 0px;
  padding: 1px; }
