// Hero code
$black: #333;

%nav {
  &.transparent {
    box-shadow: none;
    background: none;

    .brand,
    .pseudo.button {
      color: inherit;
    }

    .show:checked ~ .burger {
      color: transparent;
    }
  }
}

// Hero from the main page
.hero {
  position: relative;
  width: 100%;

  // http://stackoverflow.com/a/28151062/938236
  height: 70vh;
  transition: height 999999s;
  text-align: center;
  min-height: 300px;
  color: $black;
  padding: 1px 0;
  background: #b9dbff url("/img/optimised.svg") no-repeat 50% center scroll;
  background-size: cover;

  // Vertical center for the content
  .content {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
  }

  h1 {
    font-size: 3em;
    line-height: 1;
    padding: 0;
  }

  p {
    margin: 0;
  }

  .slogan {
    font-size: 1.3em;
  }

  .npm {
    max-width: 720px;
    color: $black;
    margin-bottom: 0;
    text-align: center;
    border-radius: 0;
    margin: 1.3em auto 0.3em;

    &.slim,
    &.wide {
      display: none;
    }

    &.slim {
      @media (max-width: 700px) {
        display: block;
        max-width: 500px;
      }
    }

    &.wide {
      @media (min-width: 700px) {
        display: block;
      }
    }
  }

  .links a {
    color: $black;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }

  .links a:hover {
    box-shadow: 0 2px $black;
  }

  .links a:active {
    background: none;
    border-radius: 0;
  }

  @keyframes bounce {
    from {
      bottom: 20px;
    }
    70% {
      bottom: 10px;
    }
    to {
      bottom: 20px;
    }
  }
}

// Hack to hide the hero without js (reusing nav's js)
.transparent ~ .hero .keepgoing {
  opacity: 1;
}

@media all and (max-width: 960px) {
  // Since in mobiles the fixed one is sluggish
  .hero {
    background-attachment: scroll;
  }
}
