extends layout

block title
  title Picnic CSS Demo

block content

  style.
    /* Structure */
    html, body, main {
      width: 100%;
      height: 100%;
      margin-top: 0;
      }
    
    /* HERO */
    .hero {
      width: 100%;
      height: 80%;
      min-height: 300px;
      color: #FFF;
      font-size: 1.5em;
      background: #0074d9 no-repeat center center fixed;
      background-size: cover;
      padding: 1px 0;
      margin: -1px 0;

      /* available: rounded.svg , awesome.svg */
      background-image: url("/img/launch.svg");
    }
    
    /* Vertical center for the HERO */
    .hero .content {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    
    .hero h1 {
      font-size: 2em;
      text-shadow: .05em .05em .05em rgba(0,0,0,0.5);
    }

    .hero .slogan {
      text-shadow: .05em .05em .05em rgba(0,0,0,0.5);
    }

    .row {
      max-width: 1200px;
      margin: 10px auto 50px;
    }

    .row > div {
        padding: 30px 20px;
    }

    .row i {
      font-size: 4em;
    }
    
    h2 {
      margin: 0;
      padding: 0;
    }

    i.featured {
      font-size: 10em;
    }


  main

    header.hero
      div.content
        h1 Picnic CSS
        p.slogan Unpack your meal and start coding
        a.button.warning(href="https://raw.githubusercontent.com/picnicss/picnic/master/releases/picnic.min.css" target="_blank") Download

    

    div.row
      div
        i.icon-mobile
        h3 Responsive
        p Designed for <strong>mobile first</strong> so your page looks amazing in all platforms.
      
      div
        i.icon-link
        h3 Robust
        p Built on top of <strong>Normalize.css</strong> to get a solid foundation to build upon.

      div
        i.icon-video
        h3 Animated
        p With <strong>subtle transitions</strong> visitors will get the feeling that your site is alive.
      
      div
        i.icon-file-code
        h3 Semantic
        p Allow all kind of robots to read your webpage by writing clean <strong>html5</strong>.



    div.row
      div.third.img
        i.featured.icon-puzzle
      div.text
        h2 Modular build system
        p All of Picnic CSS is divided into plugins with some of them making up the library and other ones available for you to use. It's super easy to add a new one.
        p You can also pass some options to the build system to make the process much more streamlined. Check it out:
        a.button(href="/plugins/") Plugins
        // a.button.warning(href="/build/") Build system

    div.row
      div.three-fifth.text
        h3 Fast & lightweight
        p Handcrafted with mobile in mind, Picnic CSS will never be larger than 5kb when minimized and compressed.
        p The ability to add only the plugins that you want is what makes Picnic so lightweight. <a href="https://github.com/picnicss/picnic">Github</a>. To see the current state check out the:
        a.button(href="https://raw.githubusercontent.com/picnicss/picnic/master/releases/picnic.min.css", target="_blank") Download
      div.img
        i.featured.icon-leaf

    div.row
      div.two-fifth.img
        i.featured.icon-globe
      div.text
        h2 Open Source
        p With the MIT license we can make sure that you can use Picnic however you want and that every contribution you make to the library is shared with others.
        a.button.icon-g(href="https://github.com/picnicss/picnic", target="_blank") Github
        // F*** jade (this is to put an space)
        | 
        label.button.warning(for="modal_mit") MIT License

    

    div.modal
      input#modal_mit(type="checkbox")
      label.overlay(for="modal_mit")
      article
        header
          h3 The MIT License (MIT)
          label.close(for="modal_mit") тип
        section.content
          p Copyright (c) 2014 Francisco Presencia Fandos

          p.
            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:

          p.
            The above copyright notice and this permission notice shall be included in
            all copies or substantial portions of the Software.

          p.
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
            THE SOFTWARE.

        footer
          label.button(for="modal_mit") Great!