extends layout

block content
  style.
    .row > * {
      padding: .3em .6em;
      background: #6C7;
    }
    .row > *:nth-child(even){
      background: #7DF;
    }
    form {
      text-align: left;
      margin-left: calc(50% - 120px - .3em);
    }
  main
    h1 Picnic CSS
    p.slogan Tiny and <a href="/plugins">modular</a> CSS3 library
    pre
      code= '<link rel="stylesheet" href="http://www.picnicss.com/nut/picnic.min.css">'
    
    section
      h2#input Buttons
      div.render
        <button>Normal</button>
        <button class="success">Success</button>
        <button class="warning">Warning</button>
        <button class="error">Error</button>
        <button class="dull">Dull</button>
    
    section
      h2 Form elements
      div.render.
        <form>
          <input type="email" placeholder="Email" /><br>
          <input type="password" placeholder="Password" /><br>
          <label class="select">
            <select name="options">
              <option>Select an option</option>
              <option>Good option</option>
              <option>Nice option</option>
              <option>Cheap option</option>
            </select>
          </label><br>
          <label class="checkbox">
            <input type="checkbox">
            <span>Check me out (;</span>
          </label><br>
          <label class="radio">
            <input type="radio" name="takeme">
            <span>Choose me</span>
          </label><br>
          <label class="radio">
            <input type="radio" name="takeme">
            <span>or choose me</span>
          </label>
        </form>
    
    
    section
      h2 Table
      div.render.
        <table class="primary">
          <thead>
            <tr>
              <th>Name</th>
              <th>City</th>
              <th>Age</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Francisco</td>
              <td>Valencia, Spain</td>
              <td>23</td>
            </tr>
            <tr>
              <td>Eve</td>
              <td>San Francisco, USA</td>
              <td>22</td>
            </tr>
            <tr>
              <td>Martin</td>
              <td>New York, USA</td>
              <td>45</td>
            </tr>
            <tr>
              <td>Sarah</td>
              <td>London, UK</td>
              <td>25</td>
            </tr>
          </tbody>
        </table>
    
    section
      h2 Responsive grid
      div.render.
        <div class="row">
          <div>[one]</div>
        </div>
        
        <div class="row">
          <div>[two]</div>
          <div>[two]</div>
        </div>
        
        <div class="row">
          <div>[three]</div>
          <div>[three]</div>
          <div>[three]</div>
        </div>
        
        <div class="row">
          <div>[four]</div>
          <div>[four]</div>
          <div>[four]</div>
          <div>[four]</div>
        </div>
        
        <div class="row">
          <div>[five]</div>
          <div>[five]</div>
          <div>[five]</div>
          <div>[five]</div>
          <div>[five]</div>
        </div>
        
    
    h2 Many more plugins!
    p To check them out, visit the plugin page:
    a.button(href="/plugins/") Check out the plugins


    h2 Advantages

    p Main advantages of using Picnic CSS:

    ul.text
      li 3.0kb when minimized and zipped.
      li Semantic HTML5. <i>Your</i> code stays highly semantic.
      li Normalize.css is used, achieving a solid foundation.
      li Support: IE 9+ and others. No fancy CSS3 on IE 8.
      li Responsive: The nav and the grids are responsive.


    
