doctype html
html
  head
    block title
      title Picnic CSS
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="keywords" content="css, library, css library, picnic, picnicss, html, html5, light, plugin")
    meta(name="description" content="A lighweight CSS library with nice defaults and many plugins to kickstart your projects")
    meta(property="og:image" content="http://www.picnicss.com/preview.png")
    link(rel='stylesheet', href='/style/style.min.css')
    link(rel="icon", href="/img/basket.png", type="image/png")

  body
    nav(class=transparent)
      a.brand(href="/") Picnic CSS

      // responsiveness
      input#bmenu.show(type="checkbox")
      label.burger.toggle.pseudo.button(for="bmenu") menu

      div.menu
        a.pseudo.button.icon-file-code(href="/documentation/") Documentation
        a.pseudo.button.icon-help-circled(href="/test/") Test
        a.pseudo.button.icon-g(href="https://github.com/picnicss/picnic" target="_blank") Github
        a.button.icon-puzzle(href="/plugins/") Plugins

    block content

    script.
      window.onload = function(){

        // Dropimage handler
        [].forEach.call(document.querySelectorAll('.dropimage'), function(img){
          img.onchange = function(e){
            var inputfile = this, reader = new FileReader();
            reader.onloadend = function(){
              inputfile.style['background-image'] = 'url('+reader.result+')';
              }
            reader.readAsDataURL(e.target.files[0]);
            }
          });
        };

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59832845-1', 'auto');
      ga('send', 'pageview');