extends layout

block content
  main.intro
    h1 Plugins
    p.slogan A list of the plugins for Picnic CSS.  
      a(href="https://medium.com/@fpresencia/picnic-css-3-0-build-system-5875860305c5") How to add a plugin?


    each plugin in plugins
      article.plugin
        header
          a(href="/plugins/" + plugin.id)
            h2= plugin.name
            div.install= plugin.install
        div.description!= plugin.description