extends layout

block content
  h1 Plugins
  p.slogan A list of the plugins for Picnic CSS.  
    a(href="/build") How to add a plugin?


  each plugin in plugins
    article.plugin
      header
        a(href="/plugins/" + plugin.id)
          h2= plugin.name
          div.install= plugin.install
      div.description!= plugin.description