extends layout

block title
  title Plugins - Picnic CSS

block content

  main.intro
    h1 Plugins
    p.slogan A list of the plugins for Picnic CSS.


    each plugin in plugins
      div.card.visual.newplugin
        div.row
          div.content
            h2= plugin.name
              span.installed
                if (plugin.included)
                  span included
                else
                  span + plugin
                if (plugin.javascript)
                  span.label.error(title="This plugin requires some javascript") JS
            div.affected= plugin.affected
            p= plugin.summary
            footer
              a.button.icon-file-code(href="/plugins/" + plugin.id) Docs
              span.extra
                a.pseudo.button.icon-help-circled(href="/test#" + plugin.id) Test
                | 
                a.pseudo.button.icon-g(href="https://github.com/picnicss/picnic/tree/master/plugins/" + plugin.id) Code
          div.display!= plugin.description
