extends layout

block title
  title Picnic CSS Testing

block content

  style.
    main {
      text-align: left;
      max-width: 800px;
      margin: 0 auto 500px;
      padding: 10px;
      }

  main
    h1 Testing Picnic CSS
    
    p A small testing page to see how elements behave across devices

    each plugin in plugins
      div.render!=plugin

    