/* BUTTONS */
.button,
.toggle input + * {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    margin: $picnic-margin;
    padding: 0 $picnic-padding * 3; 
    vertical-align: middle;
    background: $picnic-primary;
    color: $picnic-white;
    border: 0;
    border-radius: $picnic-radius;
    cursor: pointer;
    transition: $picnic-transition-fast, box-shadow 0s ease;

    @if $picnic-deep == true {
        box-shadow: 
          inset 0 0 0 100em transparent,
          inset 0 -.2em $picnic-dark-overlay;
    }
}



/* Interactivity */
.button:hover,
.button:focus,
.toggle input:focus + * {
    box-shadow: inset 0 0 0 100em $picnic-soft-dark-overlay;

    @if $picnic-deep == true {
        height: 1.9em;
        margin-top: $picnic-margin + .1em;
        box-shadow:
          inset 0 0 0 100em $picnic-soft-dark-overlay,
          inset 0 -.1em $picnic-dark-overlay;
    } 
}

.button:active,
.toggle input:active + *,
.toggle input:checked + * {
    box-shadow: inset 0 0 0 100em $picnic-dark-overlay;

    @if $picnic-deep == true {
        height: 1.8em;
        margin-top: $picnic-margin + .2em;
        box-shadow: 
          inset 0 0 0 100em $picnic-dark-overlay,
          inset 0 .1em .1em $picnic-dark-overlay;
    }
}



/* Toggle button */
.toggle input {
    opacity: 0;
    z-index: -10;
    position: absolute;
}



/* Colors */
.button.success,
.toggle.success input + * {
    background: $picnic-success;
}

.button.warning,
.toggle.warning input + * {
    background: $picnic-warning;
}

.button.error,
.toggle.error input + * {
    background: $picnic-error;
}

.button.dull,
.toggle.dull input + * {
    background: $picnic-dull;
}



/* This allows the invasiveness */
@if $picnic-invasive == true {
    button,
    input[type='submit'],
    input[type='button'],
    input[type='image'],
    input[type='reset'] {
        @extend .button;
    }
}
