/* Normal button */
button,
input[type='submit'],
a.button,
label.button span {
    border: none;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    display: inline-block;
    font-size: 1em;
    height: 1.2em;
    line-height: 1.2em;
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
    padding: .3em 1em .5em;
    background: #AAA;
    color: #FFF;
    margin: 0 0 .2em;
    box-shadow: inset 0 -.2em rgba(0,0,0,.3);
    border-radius: .2em;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .1s ease 0.1s;
}

/* Allow for tabbing (display: none) doesnt */
.button input {
    opacity: 0;
    z-index: -10;
    position: absolute;
}

/* Hover the button */
button:hover,
input[type='submit']:hover,
a.button:hover,
label.button:hover span,
button:focus,
input[type='submit']:focus,
a.button:focus,
label.button input:focus + span {
    margin: .1em 0 .2em;
    padding: .3em 1em .4em;
    transition: all .1s ease;
    box-shadow: inset 0 -.1em rgba(0,0,0,.3);
}

/* Press the button */
button:active,
input[type='submit']:active,
a.button:active,
label.button span:active,
label.button input:checked + span {
    margin: .2em 0 .2em;
    padding: .3em 1em .3em;
    box-shadow: inset 0 .1em .1em rgba(0,0,0,0.3);
}

/* Different type of buttons */
button.primary,
input[type='submit'].primary,
a.button.primary,
label.button.primary span {
    background: #0074d9;
}

button.success,
input[type='submit'].success,
a.button.success,
label.button.success span {
    background: #2ecc40;
}

button.warning,
input[type='submit'].warning,
a.button.warning,
label.button.warning span {
    background: #ff851b;
}

button.error,
input[type='submit'].error,
a.button.error,
label.button.error span {
    background: #ff4136;
}
