/* BUTTONS */
.button,
a.button:visited,
.toggle input + * {
    @include noselect;
    
    border: none;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    display: inline-block;
    font-size: 1em;
    height: $text-height;
    line-height: $text-height;
    text-decoration: none;
    vertical-align: middle;
    background: $primary;
    color: #FFF;
    border-radius: $radius;
    cursor: pointer;
    transition: $transition-fast;
    margin: $margin;
    padding: $padding $padding * 3;
    
    @if $deep == true {
        height: $text-height - .2em;
        line-height: $text-height;
        padding: $padding $padding * 3 $padding + .2em;
        margin: $margin $margin $margin;
        box-shadow: inset 0 -.2em $dark-overlay;
    }
}



/* Interactivity */
.button:hover,
.button:focus,
.toggle:hover input + *,
.toggle input:focus + * {
    color: #FFF;
    transition: all .1s ease;
    box-shadow: inset 0 0 0 100em $soft-dark-overlay;
    
    @if $deep == true {
        margin: $margin + .1em $margin $margin;
        padding: $padding $padding * 3 $padding + .1em;
        box-shadow: inset 0 -.1em $dark-overlay;
    }
}

.button:active,
.toggle input:active + *,
.toggle input:checked + * {
    box-shadow: inset 0 0 0 100em $dark-overlay;
    
    @if $deep == true {
        margin: $margin + .2em $margin $margin;
        padding: $padding $padding * 3;
        box-shadow: inset 0 .1em .1em $dark-overlay;
    }
}



/* Toggle button */
.toggle input {
    opacity: 0;
    z-index: -10;
    position: absolute;
}



/* Colors */
.button.dull,
.toggle.dull input + * {
    background: $dull;
}

.button.success,
.toggle.success input + * {
    background: $success;
}

.button.warning,
.toggle.warning input + * {
    background: $warning;
}

.button.error,
.toggle.error input + * {
    background: $error;
}



/* This allows for the invasiveness (default styling) */
@if $invasive == true {
    button,
    input[type='submit'],
    input[type='button'],
    input[type='image'],
    input[type='reset'] {
        @extend .button;
    }
}
