/* BUTTONS */
.button,
a.button:visited,
.toggle input + * {
    user-select: none;
    border: none;
    box-sizing: content-box;
    display: inline-block;
    font-size: 1em;
    height: $picnic-text-height;
    line-height: $picnic-text-height;
    text-decoration: none;
    vertical-align: middle;
    background: $picnic-primary;
    color: $picnic-white;
    border-radius: $picnic-radius;
    cursor: pointer;
    transition: $picnic-transition-fast;
    margin: $picnic-margin;
    padding: $picnic-padding $picnic-padding * 3;

    @if $picnic-deep == true {
        height: $picnic-text-height - .2em;
        line-height: $picnic-text-height;
        padding: $picnic-padding $picnic-padding * 3 $picnic-padding + .2em;
        margin: $picnic-margin $picnic-margin $picnic-margin;
        box-shadow: inset 0 -.2em $picnic-dark-overlay;
    }
}



/* Interactivity */
.button:hover,
.button:focus,
.toggle:hover input + *,
.toggle input:focus + * {
    color: $picnic-white;
    transition: all .1s ease;
    box-shadow: inset 0 0 0 100em $picnic-soft-dark-overlay;

    @if $picnic-deep == true {
        margin: $picnic-margin + .1em $picnic-margin $picnic-margin;
        padding: $picnic-padding $picnic-padding * 3 $picnic-padding + .1em;
        box-shadow: inset 0 -.1em $picnic-dark-overlay;
    }
}

.button:active,
.toggle input:active + *,
.toggle input:checked + * {
    box-shadow: inset 0 0 0 100em $picnic-dark-overlay;

    @if $picnic-deep == true {
        margin: $picnic-margin + .2em $picnic-margin $picnic-margin;
        padding: $picnic-padding $picnic-padding * 3;
        box-shadow: inset 0 .1em .1em $picnic-dark-overlay;
    }
}



/* Toggle button */
.toggle input {
    opacity: 0;
    z-index: -10;
    position: absolute;
}



/* Colors */
.button.success,
.button.success:visited,
.toggle.success input + * {
    background: $picnic-success;
}

.button.warning,
a.button.warning:visited,
.toggle.warning input + * {
    background: $picnic-warning;
}

.button.error,
a.button.error:visited,
.toggle.error input + * {
    background: $picnic-error;
}

.button.dull,
a.button.dull:visited,
.toggle.dull input + * {
    background: $picnic-dull;
}



/* This allows for the invasiveness (default styling) */
@if $picnic-invasive == true {
    button,
    input[type='submit'],
    input[type='button'],
    input[type='image'],
    input[type='reset'] {
        @extend .button;
    }
}
