.checkbox {
    position: relative;
    display: inline-block;
    min-width: 1em;
    min-height: 1.25em;
    line-height: 1em;
    margin: .2em 0 -.2em;
    outline: 0px none;
    vertical-align: middle;
    cursor: pointer;
}

/* Match the element following input */
.checkbox input + * {
    vertical-align: super;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input + *:before {
    position: absolute;
    border-radius: .2em;
    top: .1em;
    line-height: .8em;
    width: 1em;
    height: 1em;
    font-size: .8em;
    padding: .1em;
    left: 0px;
    content: '✔';
    text-align: center;
    background: #FFF;
    color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.checkbox input:focus + *:before {
    border: 1px solid #7fdbff;
}

.checkbox input {
    opacity: 0;
}

.checkbox input:checked + *:before {
    color: #555;
}
