.checkbox input + *:before {
    border: $border;
    border-radius: $radius;
    padding: .1em .05em;
}

.checkbox input:focus + *:before,
.checkbox input:hover + *:before {
    border: 1px solid $aqua;
}

.checkbox input:checked + *:before {
    color: $light-black;
}
