/**
 * Default footer height: 200px
 * Change it, but you'll need some js to make it responsive
 */
body > footer {
    color: $picnic-white;
    background: $picnic-black;
    margin: -1px 0px;
    padding: 1px;
}
