/* Delete the outline when links are active */
body {
    color: #333;
    font-size: 1.1em;
    line-height: 1.5em;
}
:focus {
    outline: none;
}



h1 {
    line-height: 1.5em;
}

a, a:hover, a:active, a:visited {
    color: #0074d9;
    text-decoration: none;
}
li {
    margin: 0 0 5px;
}
/* The <pre> doesn't have a nice style from Normalize.css */
pre {
    text-align: left;
    border: 1px solid rgba(0,0,0,.1);
    background: rgba(0,0,0,.05);
    padding: .3em;
}
code {
    background: #EEE;
    padding: 3px 5px;
    font-size: .8em;
}
blockquote {
    padding: 0 0 0 1em;
    margin: 0 0 0 .1em;
    box-shadow: inset 5px 0px rgba(0, 0, 0, 0.2);
}

/* Nice fontello trick from Ronen Ackerman ( http://stackoverflow.com/a/17561467 ) */
i[class^="icon-"]:before,i[class*=" icon-"]:before {
    margin: 0;
}