* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Delete the outline when links are active */
body {
    color: $picnic-black;
    font-size: 1.1em;
    line-height: $picnic-text-height;
    background: $picnic-white;
}

/* Hide the default focus effect */
:focus {
    outline: none;
}

h1 {
    line-height: $picnic-text-height;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: $picnic-padding * 3 0 $picnic-padding * 2;
}

li {
    margin: 0 0 $picnic-margin;
}



/* The <pre> doesn't have a nice style from Normalize.css */
pre {
    text-align: left;
    border: $picnic-soft-dark-overlay;
    background: rgba(0,0,0,.05);
    padding: .3em;
}
code {
    background: #EEE;
    padding: 3px 5px;
    font-size: .8em;
}
blockquote {
    padding: 0 0 0 1em;
    margin: 0 0 0 .1em;
    box-shadow: inset 5px 0px $picnic-dark-overlay;
}

/* Nice fontello trick from Ronen Ackerman ( http://stackoverflow.com/a/17561467 ) */
i[class^="icon-"]:before,i[class*=" icon-"]:before {
    margin: 0;
}
