.row {
    position: relative;
    display: block;
    overflow: auto;
}

[class*="full"],[class*="half"],[class*="third"],[class*="fourth"],[class*="fifth"],[class*="sixth"] {
    box-sizing: border-box;
    float: left;
    padding-left: 0;
    padding-right: 0;
    min-height: 1px;
}

.none {
    display: none;
}

.full {
    width: 100%;
}

.half {
    width: 50%;
}

.third {
    width: 33.333%;
}

.two-third {
    width: 66.666%;
}

.fourth {
    width: 25%;
}

.three-fourth {
    width: 75%;
}

.fifth {
    width: 20%;
}

.two-fifth {
    width: 40%;
}

.three-fifth {
    width: 60%;
}

.four-fifth {
    width: 80%;
}

.sixth {
    width: 16.666%;
}

/* Responsive grids: tablet+ */
@media all and (min-width: $tablet-width) {
    .m-none {
        display: none;
    }

    .m-full {
        width: 100%;
    }

    .m-half {
        width: 50%;
    }

    .m-third {
        width: 33.333%;
    }

    .m-two-third {
        width: 66.666%;
    }

    .m-fourth {
        width: 25%;
    }

    .m-three-fourth {
        width: 75%;
    }

    .m-fifth {
        width: 20%;
    }

    .m-two-fifth {
        width: 40%;
    }

    .m-three-fifth {
        width: 60%;
    }

    .m-four-fifth {
        width: 80%;
    }

    .m-sixth {
        width: 16.666%;
    }
}

/* Responsive grids: laptop+ */
@media all and (min-width: $laptop-width) {
    .l-none {
        display: none;
    }

    .l-full {
        width: 100%;
    }

    .l-half {
        width: 50%;
    }

    .l-third {
        width: 33.333%;
    }

    .l-two-third {
        width: 66.666%;
    }

    .l-fourth {
        width: 25%;
    }

    .l-three-fourth {
        width: 75%;
    }

    .l-fifth {
        width: 20%;
    }

    .l-two-fifth {
        width: 40%;
    }

    .l-three-fifth {
        width: 60%;
    }

    .l-four-fifth {
        width: 80%;
    }

    .l-sixth {
        width: 16.666%;
    }
}
