input {
    line-height: 1.5em;
    margin: .2em;
    padding: .2em .5em;
    border: 1px solid rgba(0,0,0,.3);
    box-shadow: inset .1em .1em .2em -.1em rgba(0,0,0,.3);
    border-radius: .2em;
}

input:focus {
    border-color: #7fdbff;
}

input:focus:valid {
    border-color: #2ecc40;
}

input:invalid {
    border-color: #ff4136;
}

input:focus:invalid {
    border-color: #ff851b;
}