nav {
    width: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    background: #FFF;
    box-shadow: 0 0 .6em $picnic-dark-overlay;
    z-index: 10;
    transition: all .3s ease;
}

nav.transparent {
    box-shadow: none;
    background: none;
}

nav.transparent a,
nav.transparent a:visited {
    color: $picnic-white;
}

nav a,
nav a:visited {
    color: $picnic-black;
    display: inline-block;
    font-size: 1em;
    height: 2em;
    line-height: 2em;
    padding: .5em .6em;
}

nav a:hover {
    color: $picnic-black;
    box-shadow: inset 0 -.2em 0 #7fdbff;
}

nav a.button,
nav a.button:hover {
    color: $picnic-white;
    line-height: 1.4em;
}

nav .main,
nav .menu {
    margin: 0 .5em;
}

nav .main {
    font-weight: 700;
    float: left;
    max-width: 50%;
    white-space: nowrap;
}


nav .main img {
    height: 2em;
}

nav .menu {
    float: right;
}

.burgercheck,.burgermenu {
    display: none;
    cursor: pointer;
}

.burgermenu {
    display: inline-block;
    position: relative;
    height: .8em;
    width: .4em;
    margin: .35em;
    display: none;
}

.burgermenu:before,.burgermenu:after {
    display: none;
    content: " ";
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    border-style: solid;
    border-color: #333;
    border-width: .14em 0;
}

.burgermenu:after {
    top: 50%;
    margin-top: -.07em;
}

@media all and (max-width: 960px) {
    [class*="icon-"]:before,[class*=" icon-"]:before {
        display: none;
    }
}

@media all and (max-width: $picnic-tablet-width) {
    [class*="icon-"]:before {
        display: inline-block;
    }

    .burgercheck ~ label:before,.burgercheck ~ label:after {
        display: block;
    }

    .burgercheck ~ label {
        position: fixed;
        top: 0;
        right: 0;
        display: inline-block;
        font-size: 2em;
        line-height: 1.5em;
        padding-right: .5em;
        text-align: right;
        transition: all .3s ease;
        /* Avoid the burger menu to display while hiding */
        transition: display 0s ease .3s;
    }

    .burgercheck:checked ~ label:before,.burgercheck:checked ~ label:after {
        display: none;
    }

    .burgercheck:checked ~ label {
        margin: 0;
        right: 70%;
        width: 30%;
        height: 100%;
        transition: all .3s ease;
        background: rgba(255,255,255,.7);
    }

    nav .menu {
        position: fixed;
        width: 70%;
        height: 100%;
        right: -70%;
        top: 0;
        margin-right: 0;
        background: $picnic-white;
        box-shadow: 0 0 .6em $picnic-dark-overlay;
        overflow: auto;
        transition: all .3s ease;
    }

    .burgercheck:checked ~ .menu {
        right: 0;
        transition: all .3s ease;
    }

    nav .menu a {
        display: block;
        text-align: left;
    }

    nav .menu .button {
        margin: .5em;
        float: left;
        clear: left;
    }

    nav .menu .button:hover {
        margin: .6em .5em .5em;
    }

    nav .menu .button:active {
        margin: .7em .5em .5em;
    }

    .transparent .menu {
        color: $picnic-black;
    }
}
