.radio input + *:before {
    border: 3px solid $white;
    border-radius: 100em;
    box-shadow: 0 0 0 1px $dark-overlay;
<<<<<<< HEAD
=======
    box-sizing: border-box;
}

.radio input {
    opacity: 0;
>>>>>>> f809fc136b38de346b6a077857ae41e9f5698b00
}

.radio input:focus + *:before,
.radio input:hover + *:before {
    box-shadow: 0 0 0 1px $aqua;
}

.radio input:checked + *:before {
    background: $light-black;
}
