.select {
    display: inline-block;
    position: relative;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: $radius;
}

.select:after {
    //padding: 0.4em 0 0em 1.3em;
    padding: 1.2% 0 0 0;
    background: #FFF;
    content: "\25BC";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 2.3em;
    height: calc(100% - .2em);
    pointer-events: none;
    font-size: .8em;
    //line-height: calc($text-height - .2em);
    line-height:2.2em;
    text-align: center;
    border-radius: $radius;
}

.select select {
    //padding: 0 2em 0 .3em;
    padding:0.23em 0 0.23em 0.23em;
    background: none;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    border: none;
    min-width: 14em;
    border-radius: $radius;
    cursor: pointer;
}

.select select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #333;
}

.select select option {
    padding: .2em .5em;
}
