.select {
    display: inline-block;
    position: relative;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: $radius;
}

.select:after {
    padding: .2em 0 .2em 1.3em;
    background: #FFF;
    content: "\25BC";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 2.3em;
    height: calc(100% - .4em);
    pointer-events: none;
    font-size: .8em;
    line-height: calc($text-height - .4em);
    text-align: center;
    border-radius: $radius;
}

.select select {
    padding: 0 2em 0 .3em;
    background: none;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    border: none;
    min-width: 14em;
    -webkit-padding-before: .23em;
    -webkit-padding-after: .17em;
    border-radius: $radius;
    cursor: pointer;
}

.select select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #333;
}

.select select option {
    padding: .2em .5em;
}
