table {
    text-align: left;
}

td,th {
    padding: .4em 2.4em .4em .6em;
}

th {
    font-weight: 900;
    color: #fff;
    background: #BBB;
}

.primary th {
    background-color: #0074D9;
}

.success th {
    background-color: #2ECC40;
}

.warning th {
    background-color: #FF851B;
}

.error th {
    background-color: #FF4136;
}


tr:nth-child(even) {
    background: rgba(0,0,0,.05);
}