table {
    text-align: left;
}

td,th {
    padding: $padding 2.4em $padding $padding * 2;
}

th {
    font-weight: 900;
    color: $white;
    background-color: $primary;
}

.success th {
    background-color: $success;
}

.warning th {
    background-color: $warning;
}

.error th {
    background-color: $error;
}

.dull th {
    background-color: $dull;
}


tr:nth-child(even) {
    background: rgba(0,0,0,.05);
}
