/* Style by default the <button>, <input type="submit">, etc? */
/* Not fully implemented */
$picnic-invasive: true;

/* Make buttons and other things slightly 3d */
$picnic-deep: true;

/* Media query breakpoints */
$picnic-tablet-width: 750px;
$picnic-laptop-width: 1200px;

/* Default element styles */
$picnic-radius: .2em;
$picnic-margin: .3em;
$picnic-padding: .3em;
$picnic-text-height: 1.5em;
$picnic-padding-text: $picnic-padding $picnic-padding * 1.5 + .2em;

/* Define the transitions */
$picnic-transition-fast: all .1s ease;
$picnic-transition-slow: all .3s ease;

/* Colors */
$picnic-white: #FFF;
$picnic-black: #333;
$picnic-light-black: #555;
$picnic-primary: #0074D9;
$picnic-light-primary: #7FDBFF;
$picnic-success: #2ecc40;
$picnic-warning: #FF851B;
$picnic-error: #FF4136;
$picnic-dull: #AAA;
$picnic-aqua: #7fdbff;
$picnic-dark-overlay: rgba(0, 0, 0, .3);
$picnic-soft-dark-overlay: rgba(0, 0, 0, .1);
$picnic-clear-overlay: rgba(255, 255, 255, .3);

/* Border */
$picnic-border: 1px solid $picnic-dark-overlay;
