
@import 'colors';

// Style by default the <button>, <input type="submit">, etc?
// Not fully implemented
$picnic-invasive: true !default;

// Make buttons and other things slightly 3d
$picnic-deep: false !default;

// Media query breakpoint
$picnic-breakpoint: 50em !default;

// Default space between objects
$picnic-separation: .6em !default;

// Default inline element styles
$picnic-radius: .2em !default;
$picnic-margin: $picnic-separation / 2 !default;
$picnic-padding: .3em !default;
$picnic-text-height: 1.5em !default;
$picnic-padding-text: $picnic-padding $picnic-padding * 1.5 + .2em !default;
$picnic-input-width: 240px;

// Colors
$picnic-primary: $blue !default;
$picnic-success: $green !default;
$picnic-warning: $orange !default;
$picnic-error: $red !default;
$picnic-dull: $gray !default;

$picnic-color-variation: 10% !default;
$picnic-transparency: .1 !default;

// Border
$picnic-border-color: $picnic-dull !default;
$picnic-border-weight: 1px !default;
$picnic-border: $picnic-border-weight solid $picnic-border-color;

// Define the transitions
$picnic-transition-fast: all .1s ease;
$picnic-transition-slow: all .3s ease;
