extends layout

block title
  title Plugins - Picnic CSS
  
block content
  main.documentation
    section.row
      aside
        h2 Contents
      article
        include:markdown ../temp/readme.md
  
  script(src="https://cdn.jsdelivr.net/umbrella/1/umbrella.min.js")
  
  script.
    
    u('h2[id]').each(function(node){
      u(node).attr('id', u(node).attr('id').replace(/-/g, ''));
    });
    
    u('article h2').each(function(node){
      var href = 'href="#' + u(node).attr('id') + '" ';
      var classes = 'class="pseudo button stack" ';
      var html = u(node).html();
      u('aside').append('<a ' + classes + href + '>' + html + '</a>');
    });
    
    u('article p').addClass('two-third');
    
    u('pre .lang-html').parent().each(function(node){
      var child = u(node).find('.lang-html').html();
      var html = u(document.createElement('div')).html(child).first().textContent;
      var pre = node.innerHTML.replace(/\&lt\;br\&gt\;/g, '');
      u(node).before('<div class="row"><div><pre>' + pre + '</pre></div><div class="third">' + html + '</div></div>');
      u(node).remove();
    });
    
    u('pre .lang-css').parent().each(function(node){
      var css = u(node).find('.lang-css').html();
      u(node).before('<div class="row"><div><pre>' + node.innerHTML + '</pre></div><div class="third"><style>' + css + '</style></div></div>');
      u(node).remove();
    });
