extends layout

block title
  title Plugins - Picnic CSS
  
block content
  main.documentation
    section.flex.five
      aside.none.fifth-1000
        h2 Contents
      article.full.four-fifth-1000
        include:markdown ../temp/readme.md
  
  script(src="https://cdn.jsdelivr.net/umbrella/2.6/umbrella.min.js")
  
  script.
    
    u('h2[id]').each(function(node){
      u(node).attr('id', u(node).attr('id').replace(/-/g, ''));
    });
    
    u('aside').append(function(node){
      return u('<a>')
        .addClass('pseudo button stack')
        .attr('href', '#' + node.id)
        .html(node.innerHTML);
    }, u('article h2'));
    
    u('pre .lang-html').each(function(node){
      // The <div> is needed because otherwise, `.before()` removes whitespaces
      u(node).parent().before(u('<div>').html(u(node).parent().text()));
    });
    
    u('pre .lang-css').each(function(node){
      u(node).parent().before(u('<style>').html(u(node).parent().text()));
    });
    
