extends layout

block title
  title Picnic CSS Testing

block content

  main.intro.test
    h1 Testing Picnic CSS
    
    p A small testing page to see how elements behave across devices

    include ../temp/test.html
